# InfluxDB settings
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=adminpassword
INFLUXDB_ORG=samsung_health
INFLUXDB_BUCKET=galaxy_watch
INFLUXDB_TOKEN=my-super-secret-token
INFLUXDB_URL=http://influxdb:8086

# Grafana settings
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
